#language {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;
    background-color: #373737;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    width: 25px;
    height: 25px;
    border: 0px;
    border-radius: 0px;
    background-size: cover;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

button#ptbr {
    background-image: url(../images/brasil.png);
}

button#en {
    background-image: url(../images/eua.png);
}