:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --background-div-color: #D9D9D9;
    --email-color: #001845;
    --theme-selector-background-color: #CFCFC3;
    --theme-selector-light-background-color: #FFFFFF;
    --theme-selector-off-white-background-color: #E9EACB;
    --theme-selector-dark-background-color: #2E2F33;
    --linkedin-banner: url("./images/linkedin-banner-light.png");
    --github-banner: url("./images/github-banner-light.png");
    --blog-banner: url("./images/blog-banner-light.png");
    --lattes-banner: url("./images/lattes-banner-light.png");
    --linkedin-color: #0A66C4;
    --github-color: #000000;
    --blog-color: #B42628;
    --lattes-color: #0BB397;
}

.off-white-theme{
    --background-color: #F3F2E6;
    --background-div-color: #D9D9D9;
    --email-color: #001845;
    --theme-selector-background-color: #CFCFC3;
}

.dark-theme{
    --background-color: #2E2F33;
    --text-color: #FFFFFF;
    --background-div-color: #464646;
    --email-color: #BADCE0;
    --theme-selector-background-color: #0C0C0D;
    --linkedin-banner: url("./images/linkedin-banner-dark.png");
    --github-banner: url("./images/github-banner-dark.png");
    --blog-banner: url("./images/blog-banner-dark.png");
    --lattes-banner: url("./images/lattes-banner-dark.png");
    --linkedin-color: #005BB3;
    --github-color: #464646;
    --blog-color: #811214;
    --lattes-color: #0E8773;
}