@media screen and (max-width: 720px){
    body {
        padding: 50px;
    }

    h1, p {
        margin: 0;
        text-align: center;
    }

    div.container {
        justify-content: center;
        align-items: center;
    }

    div.link {
        height: 50px;
        background-size: 40%;
    }

    div#link-linkedin {
        background-color: var(--linkedin-color);
    }

    div#link-github {
        background-color: var(--github-color);
    }

    div#link-blog {
        background-color: var(--blog-color);
    }

    div#link-lattes {
        background-color: var(--lattes-color);
    }
}